<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.xtext.xtext.wizard/src/org/eclipse/xtext/xtext/wizard/cli/CliProjectsCreatorMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.xtext.xtext.wizard.cli.CliProjectsCreatorMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-targetDir=${project_loc:xtext-reference-projects}/greetings-tycho/2.39.0-J21&#10;-languageName=org.xtext.example.mydsl.MyDsl&#10;-baseName=org.xtext.example.mydsl&#10;-extension=mydsl&#10;-enabledProjects=GenericIDE,RuntimeTest,UIProject,UITest,P2Project&#10;-buildSystem=MAVEN&#10;-sourceLayout=PLAIN&#10;-languageServer=APP&#10;-xtextVersion=2.39.0-SNAPSHOT&#10;-projectLayout=FLAT&#10;-javaVersion=JAVA21"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.xtext.xtext.wizard"/>
</launchConfiguration>
