name: Build Integtests Xtext Examples Latest

on: 
  push:
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 7 * * *'

jobs:
  build_integ_xtext:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up Maven 3.9.9
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9
      - name: Build
        run: xvfb-run scripts/integrationtests-xtext-examples.sh
      - name: Archive UI Tests Screenshots
        uses: actions/upload-artifact@v5
        if: ${{ failure() || cancelled() }}
        with:
          name: samples-screenshots-${{ runner.os }}
          path: '**/screenshots'
