name: Build Projects Latest

on: 
  push:
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 4 * * *'

jobs:
  build_Gralde_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: scripts/greetings-gradle-2.32.sh
  build_Gralde_J11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Build
        run: scripts/greetings-gradle-2.32-J11.sh
  build_Gralde_J11_on_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: scripts/greetings-gradle-2.32-J11.sh
  build_Maven_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: scripts/greetings-maven-2.32.sh
  build_Maven_J11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Build
        run: scripts/greetings-maven-2.32-J11.sh
  build_Maven_J11_on_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: scripts/greetings-maven-2.32-J11.sh
  build_tycho_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: xvfb-run scripts/greetings-tycho-2.32.sh
  build_tycho_J11:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 11
      - name: Build
        run: xvfb-run scripts/greetings-tycho-2.32-J11.sh
  build_tycho_J17_tycho_275:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        env:
          EXTRA_ARGS : "-Dtycho-version=2.7.5" 
        run: xvfb-run scripts/greetings-tycho-2.32.sh
  build_tycho_J17_tycho_40:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Set up Maven 3.9.1
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.9.1
      - name: Build
        env:
          EXTRA_ARGS : "-Dtycho-version=4.0.0-SNAPSHOT -Ptycho_snapshots" 
        run: xvfb-run scripts/greetings-tycho-2.32.sh
  build_domain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: xvfb-run scripts/domainmodel-2.32.sh
  build_domain_tycho_30_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        env:
          EXTRA_ARGS : "-Dtycho-version=3.0.5" 
        run: xvfb-run scripts/domainmodel-2.32.sh
  build_domain_tycho_40_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Set up Maven 3.9.1
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.9.1
      - name: Build
        env:
          EXTRA_ARGS : "-Dtycho-version=4.0.0-SNAPSHOT -Ptycho_snapshots" 
        run: xvfb-run scripts/domainmodel-2.32.sh
