name: Build Projects Latest

on: 
  push:
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 8 * * *'

jobs:
  build_Gralde_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: scripts/greetings-gradle-2.42.sh
  build_Gralde_J17_on_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build
        run: scripts/greetings-gradle-2.42.sh
  build_Gralde_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build
        run: scripts/greetings-gradle-J21-2.42.sh
  build_Maven_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build
        run: scripts/greetings-maven-2.42.sh
  build_Maven_J17_on_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build
        run: scripts/greetings-maven-2.42.sh    
  build_Maven_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build
        run: scripts/greetings-maven-J21-2.42.sh 
  build_tycho_J17:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Set up Maven 3.9.1
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.1
      - name: Build
        run: xvfb-run scripts/greetings-tycho-2.42.sh
  build_tycho_J17_on_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up Maven 3.9.1
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.1
      - name: Build
        run: xvfb-run scripts/greetings-tycho-2.42.sh
  build_tycho_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up Maven 3.9.1
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.1
      - name: Build
        run: xvfb-run scripts/greetings-tycho-J21-2.42.sh
  build_tycho_J21_tycho_50x:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up Maven 3.9.9
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9
      - name: Build
        env:
          EXTRA_ARGS : "-Dtycho-version=5.0.3-SNAPSHOT -Ptycho_snapshots"
        run: xvfb-run scripts/greetings-tycho-J21-2.42.sh
  build_domain_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up Maven 3.9.1
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.1
      - name: Build
        run: xvfb-run scripts/domainmodel-2.42.sh
  build_domain_tycho_50x_J21:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Set up Maven 3.9.9
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.9
      - name: Build
        env:
          EXTRA_ARGS : "-Dtycho-version=5.0.3-SNAPSHOT -Ptycho_snapshots"
        run: xvfb-run scripts/domainmodel-2.42.sh
